# Nuxt dev/build outputs
REACTPROJECT
python-backend/
python-import/.venv/
python-import/__pycache__/
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
