# Nuxt dev/build outputs
TABOOLO
python-backend/
python-import/.venv/
python-import/__pycache__/
python-importer/.venv/
python-importer/__pycache__/
python-importer/**/__pycache__/
python-importer/**/*.pyc
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

#Coding assistant
.claude
